<!DOCTYPE html>
<html>
<head>
    <title>Summarizer</title>
</head>
<body>
    <h1>Summarizer</h1>
    <form action="/summarize" method="POST">
        <label for="url">URL:</label>
        <input type="text" name="url" id="url" required><br><br>
        <label for="url">Stop:</label>
        <select name="stop_python" id="stop_python">
            <option value="0">0</option>
            <option value="1">stop</option>
        </select><br><br>
        <input type="submit" value="Summarize">
    </form>
</body>
</html>
